/*Links*/
.cke_editable a, .node a{
  color: #339933;
  text-decoration: none;
}

.cke_editable a:hover, .node a:hover{
  text-decoration: underline;
}


/*Text*/
p, .p-incontent, p.p-incontent{
  font-size: 14px;
  line-height: 1.4em;
  color: #585858;
  font-family: "Univers", sans-serif;
  margin-top: 1px;
  margin-bottom: 30px;
  width: 600px;
}

p.p-intro, p-intro{
  font-weight: 600; 
}



.highlight, p.highlight{
  font-size: 16px;
  color: #858585;
  line-height: 1.4em;
}

/*Headers*/
h3, h4{
  font-family: "Univers", sans-serif;
  line-height: 1.4em;
  font-weight: 600;
  color: #1aa81a;
  margin-top: 1px;
  margin-bottom: 5px;  
}

.h3-content, h3.h3-content{
  font-size: 22px;
}

.h4-content, h4.h4-content{
  font-size: 19px;
}

h5, h5-content, h5.h5-content{
  font-family: "Helvetica", sans-serif;
  font-size: 15px;
  line-height: 1.4em;
  font-weight: 600;
  color: #4fa34f;
  margin-top: 1px;
  margin-bottom: 5px;  
}

/*Quote Box*/
.quote_wrapper{
  display: block;
  width: 600px;
  margin: 1px 0px 10px 50px;
}

.quote_wrapper .pull{
  display: block;
  background-color: #ffffff;
  font-family: "Helvetica", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.4em;
  color: #00b3df;
}

.quote_wrapper .pull_quote{
  width: 550px;
}


.quote_wrapper .pull_quote .j_caption{
  color: #00b3df;
  text-align: right;
  width: 75px;
  float: right;
  margin-bottom: 0px;
  font-family: 'Lora', sans-serif;
  font-style: normal;
  font-size: 12px;
  font-weight: 500;
	padding: 0px 2px 2px 2px;
}

.quote_wrapper .pull_quote .j_caption:before{
  content: "Source: \A";
  white-space: pre;
  font-style: italic;
}


.quote_wrapper .pull a{
  color: #00b3df;
  text-decoration: none;
}
.quote_wrapper .pull a:hover{
  text-decoration: underline;
}


/*Links*/
.cke_editable ul,
.cke_editable ol,
.node ul,
.node ol{
 margin: 20px 0px 20px 0px;
}
.cke_editable ul,
.node ul{
  list-style-type: none;
}
.cke_editable ol,
.node ol{
  list-style-type: decimal;
}
.cke_editable ol.fixed,
.node ol.fixed{
  color: #00b3df;
  font-size: 14px;
  position: relative;
  right: 8px;
}

.li_fixed {
  font-size: 14px;
  line-height: 1.4em;
  color: #585858;
  font-family: "Univers", sans-serif;
}


.cke_editable ul li,
.node ul li{
  font-size: 14px;
  line-height: 1.4em;
  color: #585858;
  font-family: "Univers", sans-serif;
}

.cke_editable ol li,
.node ol li{
  text-indent:-7px;
}



.cke_editable ul li:before,
.node ul li:before {
  content:"—"; 
  position:relative; 
  left:-7px;
  bottom: 2px;
  color: #00b3df;
  font-size: 8px;
}

.cke_editable ul li:before,
.node ul li{ 
  text-indent:-22px; 
}


/*Images*/
.node img{
	float: left;
	/*margin: 0 28px 28px 0px;*/
}

.img_caption_wrapper {
	background-color: #fff;
}
.img_caption_wrapper img{
	margin-bottom: 0px;
	margin-right: 0px;
    margin-left: 30px;
}

.img_caption_wrapper .img_caption, .j_caption{
	/*background-color: #fff;*/
	color: #969696;
	padding: 10px 2px 2px 2px;
	font-family: 'Lora', sans-serif;
	font-style: italic;
	font-size: 12px;
    font-weight: 500;
	display: block;
	clear: both;
    width: inherit;
}

.wrapped_img img {
    margin:0;
}

.wrapped_img_left {
	margin-right:15px;
}

.wrapped_img_right {
	margin-left:15px;
}

.wrapped_img_none {
	margin:0 auto;
}



