/* @codingStandardsIgnoreFile */
/* https://www.drupal.org/node/1514182#comment-9532431 */
home {
  background: url('geo-md-webfont.eot?#iefix');
}
home {
  background: url( 'geo-md-webfont.eot?#iefix' );
}
home {
  background: url("geo-md-webfont.eot?#iefix");
}
home {
  background: url(geo-md-webfont.eot?#iefix);
}
home {
  background: url( geo-md-webfont.eot?#iefix );
}
/* https://www.drupal.org/node/2362643 */
home {
  background: url(#SVGID_1_);
}
home {
  background: url(#a);
}
home {
  background: url('#a');
}
home {
  background: url("#a");
}
home {
  background: url( "#a" );
}
home {
  background: url( #a );
}
html {
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%222000%22%20height%3D%2221%22%20viewBox%3D%22-423.5%200%202000%2021%22%20enable-background%3D%22new%20-423.5%200%202000%2021%22%3E%3ClinearGradient%20id%3D%22SVGID_1_%22%20gradientUnits%3D%22userSpaceOnUse%22%20x1%3D%221393.788%22%20y1%3D%22404.834%22%20x2%3D%221395.121%22%20y2%3D%22404.834%22%20gradientTransform%3D%22matrix(1500%200%200%20-538%20-2091105%20217811)%22%3E%3Cstop%20offset%3D%220%22%20stop-color%3D%22%23fff%22%20stop-opacity%3D%220%22%2F%3E%3Cstop%20offset%3D%220%22%20stop-color%3D%22%23fff%22%2F%3E%3Cstop%20offset%3D%22.55%22%20stop-color%3D%22%23fff%22%2F%3E%3Cstop%20offset%3D%22.8%22%20stop-color%3D%22%23fff%22%20stop-opacity%3D%220%22%2F%3E%3Cstop%20offset%3D%221%22%20stop-color%3D%22%23fff%22%20stop-opacity%3D%220%22%2F%3E%3C%2FlinearGradient%3E%3Cpath%20fill%3D%22url(%23SVGID_1_)%22%20d%3D%22M-423.
5%200h2000v21h-2000V0z%22%2F%3E%3C%2Fsvg%3E');
}


