/* @codingStandardsIgnoreFile */

@import "import1.css";
@import "import2.css";
@import url("http://example.com/style.css");
@import url("//example.com/style.css");

body {
  margin: 0;
  padding: 0;
  background: #edf5fa;
  font: 76%/170% Verdana, sans-serif;
  color: #494949;
}

.this .is .a .test {
  font: 1em/100% Verdana, sans-serif;
  color: #494949;
}
.this
.is
.a
.test {
font: 1em/100% Verdana, sans-serif;
color: #494949;
}

textarea, select {
  font: 1em/160% Verdana, sans-serif;
  color: #494949;
}

