/* Navigation apply */
#content .node-promoted h2.node-title{
  background-image:url('data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0D%0A%3C%21--%20Generator%3A%20Adobe%20Illustrator%2018.0.0%2C%20SVG%20Export%20Plug-In%20.%20SVG%20Version%3A%206.00%20Build%200%29%20%20--%3E%0D%0A%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%0D%0A%09%20width%3D%2218px%22%20height%3D%2211.632px%22%20viewBox%3D%220%200%2018%2011.632%22%20enable-background%3D%22new%200%200%2018%2011.632%22%20xml%3Aspace%3D%22preserve%22%3E%0D%0A%3Cpath%20fill%3D%22%23CC9B12%22%20d%3D%22M17.974%2C5.943c0.006-0.018%2C0.01-0.035%2C0.014-0.053c0.003-0.018%2C0.007-0.034%2C0.008-0.052%0D%0A%09C17.996%2C5.83%2C18%2C5.824%2C18%2C5.816c0-0.008-0.004-0.014-0.004-0.022c-0.001-0.018-0.004-0.035-0.008-0.052%0D%0A%09c-0.003-0.018-0.007-0.035-0.014-0.053c-0.005-0.014-0.009-0.028-0.016-0.041c-0.008-0.016-0.018-0.03-0.028-0.045%0D%0A%09c-0.006-0.009-0.008-0.02-0.015-0.029c-0.005-0.006-0.011-0.008-0.016-0.014c-0.01-0.011-0.02-0.022-0.032-0.032%0D%0A%09c-0.006-0.005-0.008-0.012-0.014-0.017l-6.82-5.426c-0.17-0.135-0.414-0.105-0.548%2C0.062c-0.134%2C0.168-0.106%2C0.414%2C0.062%2C0.548%0D%0A%09l5.946%2C4.731H0.39C0.174%2C5.426%2C0%2C5.601%2C0%2C5.816c0%2C0.215%2C0.174%2C0.39%2C0.39%2C0.39h16.104l-5.946%2C4.731%0D%0A%09c-0.168%2C0.134-0.196%2C0.379-0.062%2C0.548c0.077%2C0.097%2C0.19%2C0.147%2C0.305%2C0.147c0.085%2C0%2C0.171-0.028%2C0.243-0.085l6.82-5.426%0D%0A%09c0.006-0.005%2C0.009-0.012%2C0.014-0.017c0.012-0.011%2C0.022-0.022%2C0.033-0.034c0.004-0.005%2C0.011-0.007%2C0.015-0.012%0D%0A%09c0.007-0.009%2C0.009-0.02%2C0.015-0.029C17.94%2C6.015%2C17.951%2C6%2C17.958%2C5.984C17.965%2C5.971%2C17.969%2C5.957%2C17.974%2C5.943z%22%2F%3E%0D%0A%3C%2Fsvg%3E%0D%0A');
  background-repeat:no-repeat;
  background-position:10% 60%;
  padding-right:23px;
  fill: #f4296a;
}

#page-title{
  background-image:url('data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0D%0A%3C%21--%20Generator%3A%20Adobe%20Illustrator%2018.0.0%2C%20SVG%20Export%20Plug-In%20.%20SVG%20Version%3A%206.00%20Build%200%29%20%20--%3E%0D%0A%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20width%3D%227.422px%22%0D%0A%09%20height%3D%225.741px%22%20viewBox%3D%220%200%207.422%205.741%22%20enable-background%3D%22new%200%200%207.422%205.741%22%20xml%3Aspace%3D%22preserve%22%3E%0D%0A%3Cg%20id%3D%22Layer_2%22%3E%0D%0A%09%3Crect%20x%3D%22-999.479%22%20y%3D%22-807.876%22%20fill%3D%22%23FFFFFF%22%20width%3D%222220%22%20height%3D%221528%22%2F%3E%0D%0A%3C%2Fg%3E%0D%0A%3Cg%20id%3D%22Layer_1%22%3E%0D%0A%09%3Cg%3E%0D%0A%09%09%3Cpath%20fill%3D%22%2368A4E8%22%20d%3D%22M2.061%2C0l1.101%2C0.88c-0.641%2C0.34-1.381%2C1.18-1.561%2C1.9c0.061-0.04%2C0.24-0.06%2C0.4-0.06%0D%0A%09%09%09c0.76%2C0%2C1.36%2C0.58%2C1.36%2C1.44c0%2C0.86-0.721%2C1.58-1.581%2C1.58C0.841%2C5.741%2C0%2C5.001%2C0%2C3.701C0%2C2.201%2C0.82%2C0.86%2C2.061%2C0z%20M6.122%2C0%0D%0A%09%09%09l1.12%2C0.88c-0.641%2C0.34-1.4%2C1.18-1.561%2C1.9c0.06-0.04%2C0.24-0.06%2C0.4-0.06c0.74%2C0%2C1.34%2C0.58%2C1.34%2C1.44c0%2C0.86-0.7%2C1.58-1.58%2C1.58%0D%0A%09%09%09c-0.94%2C0-1.761-0.74-1.761-2.041C4.081%2C2.201%2C4.882%2C0.86%2C6.122%2C0z%22%2F%3E%0D%0A%09%3C%2Fg%3E%0D%0A%3C%2Fg%3E%0D%0A%3C%2Fsvg%3E%0D%0A');
  background-repeat:no-repeat;
  background-position:15% 60%;
  padding-right:23px;
  background-size: 70px;
  fill: #145736;
}

/* social – footer – linkedin */
.oauthconnector-linkedin {
  background-image:url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20xml%3Aspace%3D%22preserve%22%20height%3D%2214%22%20width%3D%2214%22%20version%3D%221.1%22%20y%3D%220px%22%20x%3D%220px%22%20viewBox%3D%220%200%2013.728%2013.735%22%20enable-background%3D%22new%200%200%2013.728%2013.735%22%3E%3Cg%20id%3D%22tu_footer_social_linkedin-Layer_2%22%20display%3D%22none%22%3E%09%3Crect%20opacity%3D%22.4%22%20height%3D%221118%22%20width%3D%222107%22%20y%3D%22-725.19%22%20x%3D%22-686.69%22%20display%3D%22inline%22%20fill%3D%22%23ACACAC%22%2F%3E%3C%2Fg%3E%3Cg%20id%3D%22tu_footer_social_linkedin-Layer_1%22%3E%09%3Cpath%20id%3D%22tu_footer_social_linkedin-linkedin-icon%22%20d%3D%22m3.352%201.69c0%200.933-0.75%201.69-1.676%201.69s-1.676-0.757-1.676-1.69c0-0.934%200.75-1.69%201.676-1.69s1.676%200.756%201.676%201.69zm-0.245%202.888h-2.835v9.157h2.834v-9.157zm4.53%200h-2.718v9.157h2.718v-4.807c0-1.288%200.593-2.054%201.727-2.054%201.042%200%201.543%200.736%201.543%202.054v4.807h2.821v-5.798s-1.39-3.638-3.332-3.638-2.759%201.512-2.759%201.512v-1.233z%22%20fill%3D%22%23ACACAC%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');background-repeat:no-repeat;width:14px;height:14px}

/* social – footer – twitter */
.oauthconnector-twitter {
  background-image:url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20xml%3Aspace%3D%22preserve%22%20height%3D%2214%22%20width%3D%2214%22%20version%3D%221.1%22%20y%3D%220px%22%20x%3D%220px%22%20viewBox%3D%220%200%2014%2014%22%20enable-background%3D%22new%200%200%2014%2014%22%3E%3Cg%20id%3D%22tu_footer_social_twitter-Layer_2%22%20display%3D%22none%22%3E%09%3Crect%20opacity%3D%22.4%22%20height%3D%221118%22%20width%3D%222107%22%20y%3D%22-725.19%22%20x%3D%22-644.15%22%20display%3D%22inline%22%20fill%3D%22%23ACACAC%22%2F%3E%3C%2Fg%3E%3Cg%20id%3D%22tu_footer_social_twitter-Layer_1%22%3E%09%3Cpath%20id%3D%22tu_footer_social_twitter-twitter-icon_1_%22%20d%3D%22m14%203.969c-0.515%200.228-1.069%200.383-1.65%200.452%200.593-0.355%201.048-0.918%201.263-1.589-0.555%200.329-1.17%200.568-1.824%200.697-0.524-0.558-1.27-0.907-2.097-0.907-1.854%200-3.217%201.73-2.798%203.527-2.387-0.12-4.504-1.263-5.92-3.001-0.752%201.291-0.39%202.98%200.889%203.835-0.47-0.015-0.913-0.144-1.3-0.359-0.032%201.33%200.922%202.575%202.303%202.852-0.404%200.11-0.847%200.135-1.297%200.049%200.365%201.141%201.426%201.971%202.683%201.995-1.207%200.946-2.728%201.369-4.252%201.19%201.271%200.814%202.781%201.29%204.403%201.29%205.333%200%208.345-4.504%208.164-8.544%200.561-0.405%201.048-0.911%201.433-1.487z%22%20fill%3D%22%23ACACAC%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');background-repeat:no-repeat;width:14px;height:14px}


