.connector-button-wrapper{
  input[type="submit"]{     
    background-color: #fff;
    border: none;
    text-indent: -9999px;
    margin-right: 10px;
  }
  &:hover{
    opacity: 0.7; 
  }
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#map {
  width: 500px;
  height: 400px;
}

