.icon, .node .field p{
  width: 48px;
  height: 48px;
  display: inline-block;
  
  -webkit-mask: url('data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0D%0A%3C%21--%20Generator%3A%20Adobe%20Illustrator%2018.0.0%2C%20SVG%20Export%20Plug-In%20.%20SVG%20Version%3A%206.00%20Build%200%29%20%20--%3E%0D%0A%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20width%3D%227.422px%22%0D%0A%09%20height%3D%225.741px%22%20viewBox%3D%220%200%207.422%205.741%22%20enable-background%3D%22new%200%200%207.422%205.741%22%20xml%3Aspace%3D%22preserve%22%3E%0D%0A%3Cg%20id%3D%22Layer_2%22%3E%0D%0A%09%3Crect%20x%3D%22-999.479%22%20y%3D%22-807.876%22%20fill%3D%22%23FFFFFF%22%20width%3D%222220%22%20height%3D%221528%22%2F%3E%0D%0A%3C%2Fg%3E%0D%0A%3Cg%20id%3D%22Layer_1%22%3E%0D%0A%09%3Cg%3E%0D%0A%09%09%3Cpath%20fill%3D%22%2368A4E8%22%20d%3D%22M2.061%2C0l1.101%2C0.88c-0.641%2C0.34-1.381%2C1.18-1.561%2C1.9c0.061-0.04%2C0.24-0.06%2C0.4-0.06%0D%0A%09%09%09c0.76%2C0%2C1.36%2C0.58%2C1.36%2C1.44c0%2C0.86-0.721%2C1.58-1.581%2C1.58C0.841%2C5.741%2C0%2C5.001%2C0%2C3.701C0%2C2.201%2C0.82%2C0.86%2C2.061%2C0z%20M6.122%2C0%0D%0A%09%09%09l1.12%2C0.88c-0.641%2C0.34-1.4%2C1.18-1.561%2C1.9c0.06-0.04%2C0.24-0.06%2C0.4-0.06c0.74%2C0%2C1.34%2C0.58%2C1.34%2C1.44c0%2C0.86-0.7%2C1.58-1.58%2C1.58%0D%0A%09%09%09c-0.94%2C0-1.761-0.74-1.761-2.041C4.081%2C2.201%2C4.882%2C0.86%2C6.122%2C0z%22%2F%3E%0D%0A%09%3C%2Fg%3E%0D%0A%3C%2Fg%3E%0D%0A%3C%2Fsvg%3E%0D%0A') no-repeat 50% 50%;
  mask: url('data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0D%0A%3C%21--%20Generator%3A%20Adobe%20Illustrator%2018.0.0%2C%20SVG%20Export%20Plug-In%20.%20SVG%20Version%3A%206.00%20Build%200%29%20%20--%3E%0D%0A%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20width%3D%227.422px%22%0D%0A%09%20height%3D%225.741px%22%20viewBox%3D%220%200%207.422%205.741%22%20enable-background%3D%22new%200%200%207.422%205.741%22%20xml%3Aspace%3D%22preserve%22%3E%0D%0A%3Cg%20id%3D%22Layer_2%22%3E%0D%0A%09%3Crect%20x%3D%22-999.479%22%20y%3D%22-807.876%22%20fill%3D%22%23FFFFFF%22%20width%3D%222220%22%20height%3D%221528%22%2F%3E%0D%0A%3C%2Fg%3E%0D%0A%3Cg%20id%3D%22Layer_1%22%3E%0D%0A%09%3Cg%3E%0D%0A%09%09%3Cpath%20fill%3D%22%2368A4E8%22%20d%3D%22M2.061%2C0l1.101%2C0.88c-0.641%2C0.34-1.381%2C1.18-1.561%2C1.9c0.061-0.04%2C0.24-0.06%2C0.4-0.06%0D%0A%09%09%09c0.76%2C0%2C1.36%2C0.58%2C1.36%2C1.44c0%2C0.86-0.721%2C1.58-1.581%2C1.58C0.841%2C5.741%2C0%2C5.001%2C0%2C3.701C0%2C2.201%2C0.82%2C0.86%2C2.061%2C0z%20M6.122%2C0%0D%0A%09%09%09l1.12%2C0.88c-0.641%2C0.34-1.4%2C1.18-1.561%2C1.9c0.06-0.04%2C0.24-0.06%2C0.4-0.06c0.74%2C0%2C1.34%2C0.58%2C1.34%2C1.44c0%2C0.86-0.7%2C1.58-1.58%2C1.58%0D%0A%09%09%09c-0.94%2C0-1.761-0.74-1.761-2.041C4.081%2C2.201%2C4.882%2C0.86%2C6.122%2C0z%22%2F%3E%0D%0A%09%3C%2Fg%3E%0D%0A%3C%2Fg%3E%0D%0A%3C%2Fsvg%3E%0D%0A') no-repeat 50% 50%;
  -webkit-mask-size: cover;
  mask-size: cover;
}

.icon-red { background-color: red; }
.icon-orange { background-color: orange; }
.icon-yellow { background-color: yellow; }
.icon-green { background-color: green; }
.icon-blue { background-color: blue; }
.icon-indigo { background-color: indigo; }
.icon-violet { background-color: violet; }

.icon-cyan { background-color: cyan; }
.icon-magenta { background-color: magenta; }
.icon-lime { background-color: lime; }
.icon-olive { background-color: olive; }
.icon-maroon { background-color: maroon; }
.icon-purple { background-color: purple; }

.icon-white { background: white; }
.icon-gray10 { background: #e5e5e5; }
.icon-gray20 { background: #ccc; }
.icon-gray30 { background: #b2b2b2; }
.icon-gray40 { background: #999; }
.icon-gray50 { background: #7f7f7f; }
.icon-gray60 { background: #666; }
.icon-gray70 { background: #4c4c4c; }
.icon-gray80 { background: #333; }
.icon-gray90 { background: #191919; }
.icon-black { background: black; }

.icon-gradient { 
  background: -webkit-radial-gradient(50% 50%, red, white);
  background: radial-gradient(50% 50%, red, white); 
}

.icon-kitten { 
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/18515/grumpy.jpeg) 50% 0%;
  background-size: cover;
}

.icon-animation { 
  background: red;
  -webkit-animation: ❤ 6.66s infinite linear;
  animation: ❤ 6.66s infinite linear; 
}

@-webkit-keyframes ❤ {
  0% { background-color: red; }
  16% { background-color: orange; }
  32% { background-color: yellow; }
  48% { background-color: green; }
  60% { background-color: blue; }
  72% { background-color: indigo; }
  84% { background-color: violet; }
}

@keyframes ❤ {
  0% { background-color: red; }
  16% { background-color: orange; }
  32% { background-color: yellow; }
  48% { background-color: green; }
  60% { background-color: blue; }
  72% { background-color: indigo; }
  84% { background-color: violet; }
}

/* LAYOUT */
html, body { height: 100%; }

body { 
  background: #fcfcfc; 
  margin: 0;
}

.wrap { 
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 100%;
  text-align: center;
}
