/* Expected to change this css file to suit your style*/

/* Inner DIV container for the infowindow content */
.gm-style .gm-style-iw{
  width: 200px !important;
  top: 30px !important;
  left: 10px !important;
  background-color: #fff;
  /*box-shadow: 0 1px 6px rgba(178, 178, 178, 0.6);*/
  border: 1px solid rgba(215, 215, 215, 0.6);
  border-radius: 2px 2px 0 0;
}

/* Remove the shadow of the arrow tail*/
.infowindow_background .infowindow_fix:nth-child(1){
  display: none;
}

/* Remove the background shadow of the outer DIV*/
.infowindow_background .infowindow_fix:nth-child(2){
  display: none;
}

/* Moves the position of the tail to recenter underneath the inner content DIV*/
.infowindow_background .infowindow_fix:nth-child(3){
  /*left: 105px !important;*/
}

/* Remove the white background of the outer DIV*/
.infowindow_background .infowindow_fix:nth-child(4){
  display: none;
}

/* Reduce the size of the left-hand side of the tail */
.infowindow_background .infowindow_fix_tail:nth-child(1){
  width: 10px !important;
  height: 16px !important;
  left: 0px !important;
  top: 14px !important;
}

/* Reduce the size of the right-hand side of the tail */
.infowindow_background .infowindow_fix_tail:nth-child(2){
  width: 4px !important;
}

/* Adds same border of inner content DIV to the tail */
.infowindow_background .infowindow_fix_tail_border:first-child{
  box-shadow: rgba(215, 215, 215, 0.6) 0px 1px 6px !important;
  z-index: 1;
}

/* Re-postion closing button */
.gm-style .infowindow_close{
  right: 25px !important;
  top: 35px !important;  
}