.easychart-wrapper {
  border: 1px solid #ccc;
  margin: 1em 0;
  padding: 1em;
}

.easychart-popup {
  display: none;
  position: fixed;
  z-index: 1000;
  background-color: rgb(255,255,255);
  background-color: rgba(255,255,255, 0.97);
  overflow: hidden;
  left: 1em;
  top: 1em;
  right: 1em;
  bottom: 1em;
  box-shadow: 0px 0px 3px #ccc;
}

.easychart-popup-content {
  height: 100%;
}
.ec-container {
  overflow: scroll;
  height: 100%;
}

.easychart-wrapper a.easychart-configure-link {
  margin-top: 1em;
  margin-bottom: 1em;
  display: inline-block;
}

.easychart-bar {
  text-align: right;
  padding: 0.5em;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 100;
  background: #333;
  border-radius: 0 0 0 3px;
}

.easychart-bar a {
  color: #fff;
  text-decoration: underline;
  margin-left: 15px;
}

.easychart-preview {
  max-width: 50%;
  margin:  0 0 0 1em;
  float: right;
}

.easychart-left {
  width: 40%;
  float: left;
}

#edit-easychart .sticky-header {
  z-index: 2;
}

/* Opentip fixes */
.opentip-container {
  z-index: 1005 !important;
  position: fixed !important;
}